.card {
    margin-right: 20%;
    margin-left: 22%;
    max-width: 1000px;
    max-height: 600px;
}

.media {
    height: 150px;
    padding-top: 10%;
    background-size: 100% 100% !important;
}

.header{
    text-align: start !important;
}

@media screen and (max-width: 1024px){
    .card{
        margin-right: 15%;
        margin-left: 15%;
        max-width: 900px !important;
    }
}