.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding-left: 25px;
  padding-right: 30px;
}

input{
  font-size: 1em;
  height: 30px;
  width: 90%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(0deg); }
}

.search{
  line-height: 20px;
  border-radius: 3px;
  background-color: #fff;
  vertical-align: middle;
  border: 1px solid #d1d5da;
  font-size: 16px;
}

.pulse {
  display: block;
  border-radius: 50%;
  margin:0% 48.5% !important;
  padding:0;
  background: #222;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(70, 69, 69, 0.4);
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: none;
}

.not-found{
  font-size: 16px;
}

@media screen and (max-width: 425px){
  .pulse{
    margin:0% 42.5% !important;
  }

}

@media screen and (max-width: 560px){
  .search-icon{
    display: none !important;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(70, 69, 69, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(70, 69, 69, 0.4);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(70, 69, 69, 0.4);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(70, 69, 69, 0.4);
    box-shadow: 0 0 0 0 rgba(70, 69, 69, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(70, 69, 69, 0.4);
      box-shadow: 0 0 0 10px rgba(70, 69, 69, 0.4);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(70, 69, 69, 0.4);
      box-shadow: 0 0 0 0 rgba(70, 69, 69, 0.4);
  }
}